{% extends "app/layout.html" %}
{% block content %}
   <div class="course_prview">
        <div class="overlay-top-header" style="background-color: rgba(0,0,0,0.6);">
            <div class="container">
                <div class="fulldiv topcontent margin-bottom20">
                    <h1 class="txtwhite">
                        <span>PHP Full Stack Developer</span>
                    </h1>
                    <p>
                        <span>A Full Stack developer is responsible for front and back-end web development.
                            Usually, good full stack developers will understand several how to work with several
                            languages and databases including PHP, HTML, CSS, JavaScript and everything in between<br>
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="coursebg">
        <div class="container">
            <div class="col-lg-8 pull-left noleftpadding">
                <div class="whitebox margintop20 margin-bottom20 body-content">
                    <h3>
                         PHP Full Stack Developer: Job Oppurtunity</h3>
                    <hr />
                    <p style="text-align: justify" class="margin-bottom20">
                        A Full Stack developer is responsible for front and back-end web development. Usually,
                        good full stack developers will understand several how to work with several languages
                        and databases including PHP, HTML, CSS, JavaScript and everything in between. Writing
                        a good job description for a full stack developer will require you to understand
                        the skills and responsibilities needed for the specific project and ongoing work.Below
                        you all find a sample template job description for a full stack developer. You can
                        copy the Full Stack Developer job description, but make sure to add your own information
                        for company culture, perks/benefits, as well as double-check that the skills match
                        your exact requirements.</p>
                </div>
                 <div class="whitebox margintop20 margin-bottom20 body-content">
                    <h3>
                        PHP Full Stack Developer: Responsibilities</h3>
                    <hr />
                    <p style="text-align: justify">
                       A Full Stack developer is responsible for front and back-end web development. Usually, good full stack developers will understand several how to work with several languages and databases including PHP, HTML, CSS, JavaScript and everything in between. Writing a good job description for a full stack developer will require you to understand the skills and responsibilities needed for the specific project and ongoing work</p>
                    <b>Any ledaing company is looking for following responsibilities in the candidate</b>
                    <ul class="margintop20" style="line-height: 35px; list-style-type: circle; padding-left: 15px;">
                        <li><span class="badge">Design overall architecture of the web application</span></li>
                        <li><span class="badge">Maintain quality and ensure responsiveness of applications. </span></li>
                        <li><span class="badge">Collaborate with the rest of the engineering team to design and launch new features. </span></li>
                        <li><span class="badge"> Maintain code integrity and organization </span></li>
                        <li><span class="badge">Experience working with graphic designers and converting designs to visual elements. </span></li>
                        <li><span class="badge">Understanding and implementation of security and data protection.</span></li>
                         <li><span class="badge">Development experience for both mobile and desktop.</span></li>
                          <li><span class="badge">Understanding of server-side languages including (such-as Jade, EJS, Jinja, etc.)</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 pull-right norightpadding">
                <div class="sidewhitebox margintop20 margin-bottom20 body-content">
                    <h3>
                        Learning Path</h3>
                    <hr>
                    <div class="bg-white margin-bottom20 " style="letter-spacing:1px">
                        <div style="border-bottom:solid 1px #eee; padding-bottom:15px; padding-top:15px">
                           <strong><i class="glyphicon glyphicon-play-circle"> </i> Introuction to HTML5 and CSS3 </strong>
                        </div>
                         <div style="border-bottom:solid 1px #eee; padding-bottom:15px; padding-top:15px">
                           <strong><i class="glyphicon glyphicon-play-circle"> </i> Introuction to   Javascript</strong>
                        </div>
                         <div style="border-bottom:solid 1px #eee; padding-bottom:15px; padding-top:15px">
                           <strong><i class="glyphicon glyphicon-play-circle"> </i> Introuction to PHP Basics</strong>
                        </div>
                         <div style="border-bottom:solid 1px #eee; padding-bottom:15px; padding-top:15px">
                           <strong><i class="glyphicon glyphicon-play-circle"> </i> Introuction to PHP Advanced</strong>
                        </div>
                         <div style="border-bottom:solid 1px #eee; padding-bottom:15px; padding-top:15px">
                           <strong><i class="glyphicon glyphicon-play-circle"> </i> Basic knowledge of SEO</strong>
                        </div>
                         <div style="border-bottom:solid 1px #eee; padding-bottom:15px; padding-top:15px">
                           <strong><i class="glyphicon glyphicon-play-circle"> </i> Web server Setup i.e. Apache, Tomcat</strong>
                        </div>
                         <div style="border-bottom:solid 1px #eee; padding-bottom:15px; padding-top:15px">
                           <strong><i class="glyphicon glyphicon-play-circle"> </i> Project Management</strong>
                        </div>
                          <div style="border-bottom:solid 1px #eee; padding-bottom:15px; padding-top:15px">
                           <strong><i class="glyphicon glyphicon-play-circle"> </i> Live Project Training</strong>
                        </div>
                         <div style="border-bottom:solid 1px #eee; padding-bottom:15px; padding-top:15px">
                           <strong><i class="glyphicon glyphicon-play-circle"> </i> Interview Training</strong>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="pull-left fulldiv">
                <div class="col-lg-4 noleftpadding">
                    <div class="whitebox margintop20 margin-bottom20 body-content">
                        <div style="margin-bottom: 50px" class="pull-left fulldiv">
                            <h3>
                                <span class="glyphicon glyphicon-stats" aria-hidden="true"></span> Associted Members</h3>
                            <hr />
                            <p style="letter-spacing: 1px; line-height: 26px">
                                Mentorship is a relationship in which a more experienced or more knowledgeable person helps to guide a less experienced or less knowledgeable person. </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 norightpadding">
                    <div class=" margintop20 margin-bottom20 body-content">
                        <div style="margin-bottom: 50px" class="pull-left fulldiv">
                            <div class="col-lg-4 noleftpadding">
                                <div class="blogbox margin-bottom20 ">
                                    <div class="">
                                        <img src="/media/inst1.png" width="100%"></img>
                                        <div class="margintop20 margin-bottom20 blogtxt">
                                            <a href="{% url 'JobDescription' %}"><strong class="fulldiv pull-left"><span class="glyphicon glyphicon-user"
                                                aria-hidden="true"></span> Krishan Kant Upadhyay</strong> <strong><span class="glyphicon glyphicon-usd"
                                                    aria-hidden="true"></span> 11 Years Exp</strong> </a>
                                              <input type="button" value="Book Appointment" class="btn" style="border:solid 1px black; pading:10px 15px; width:100%; background-color:white; margin-top:15px"></input>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 noleftpadding">
                                <div class="blogbox margin-bottom20 ">
                                    <div class="">
                                        <img src="/media/inst2.png" width="100%"></img>
                                        <div class="margintop20 margin-bottom20 blogtxt">
                                            <a href="{% url 'JobDescription' %}"><strong class="fulldiv pull-left"><span class="glyphicon glyphicon-user"
                                                aria-hidden="true"></span> Vinod Joshi</strong> <strong><span class="glyphicon glyphicon-usd"
                                                    aria-hidden="true"></span>  11 Years Exp</strong> </a>
                                              <input type="button" value="Book Appointment" class="btn" style="border:solid 1px black; pading:10px 15px; width:100%; background-color:white; margin-top:15px"></input>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                         
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}