{% extends "app/layout.html" %}
{% block content %}
     <div class="coursebg">
        <div class="container">
            <div class="col-lg-12 noleftpadding">
                <div class="whitebox margintop20 margin-bottom20 body-content">
                    <h3>
                        <span class="glyphicon glyphicon-shopping-cart"></span>Order Preview</h3>
                    <hr />
                    <table class="table-striped fulldiv margin-bottom20">
                    </table>
                 </div>
               </div>
            </div>
          </div>
{% endblock %}